@charset "utf-8";
/* CSS Document */

/*Start Variables */
:root{
	--main-color:#10cab7;
	--secondly-color:#2c4755;
	--section-padding:60px;
	--section-background:#f6f6f6;
	--section-color:#777;
	--main-duration:0.3s;
}


/* End Variables */

/*Start Globle Rules */

/*Start Components */
.special-heading{
	font-size: 100px;
	text-align: center;
	margin:0;
	color:#ebeced;
	font-weight: 800;
	letter-spacing: 3px;
	
}

.special-heading + p{
	margin: -30px 0 0 ;
	text-align: center;
	color:#797979;
	font-size: 20px;
	
}

html{
	scroll-behavior: smooth;
}
/*End Components */


@media (max-width:991px){
	.about .about-content{
		display: flex;
		flex-direction: column;
		text-align: center;
	}
}

@media (max-width:991px){
	.about .about-content .image::before, 
	.about .about-content .image::after{
		display: none;
		
	}
}

@media (max-width:991px){
	.about .about-content .image{
		margin:0 auto 60px;
	}
		
	}

@media (max-width: 767px){
	.services .services-container .serv{
		flex-direction: column;
		text-align: center;
	}
}
@media (max-width:1119px){
	.image-column{
		display: none;
	}
}


@media (max-width:767px){
	.special-heading{
		font-size:60px;
	}
	.special-heading + p{
		margin-top: -20px;
	}
}
/* Small */
@media (min-width:768px){
	.container{
		width: 750px;
	}
}

/* Medium */
@media (min-width:992px){
	.container{
		width: 970px;
	}
}
/* Large */
@media (min-width:1200px){
	.container{
		width: 1170px;
	}
}
*{
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
	/*End Globle Rules */
	
}

body{
	font-family: 'Work Sans', sans-serif;
}



/*Start Header*/





.header{
	padding:20px;
}

.container{
	padding-left:20px;
	padding-right:20px;
	margin-left: auto;
	margin-right: auto;

}

.header .container{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header .container .logo{
	width:60px;
}

.header .container .links  .icon {
	width:30px;
	display: flex;
	flex-wrap:wrap;
	justify-content: flex-end;	
}


.header .container .links .icon span{
	background-color: black;
	margin-bottom:5px;
	height:2px;	
}
.header .container .links .icon span{
	width:80%;	
}
.header .container .links .icon span:nth-child(2){
	width:60%;
	transition: 0.3s;
	
}

.header .container .links .icon span:nth-child(3){
	width:80%;
	
}

.header .container .links .icon span:hover:nth-child(2){
	width:80%;
	
	
}


.header .links{
	position:relative;
}

.header .links ul{
	list-style: none;
	margin: 0;
	padding:0;
	position: absolute;
	right:0;
	top: calc(100% + 15px);
	min-width: 200px;
	background-color:  #f6f6f6;
	cursor: pointer;
	display: none;
	z-index: 1;
	transition: var(--main-duration);
	
}

.header .links:hover ul{
	display: block;
}
.header .links ul::before{
	content: "";
	position: absolute;
	border-style: solid;
	border-width:10px;
	border-color:transparent transparent  #f6f6f6 transparent;
	top:-20px;
	right:0;
	
}

.header .links ul li:not(:last-child){
	border-bottom:1px solid #333;;
}
.header .links ul li a{
	text-decoration: none;
	padding:15px;
	display: block;
	color:#333;
	transition: var(--main-duration);
	
}


.header .links ul li a:hover{
	padding-left:25px;
	
}

/*Start Landing*/
.landing{
	background-image: url("../images/landing.jpg");
	background-size: cover;
	height:calc(100vh - 64px);
	position: relative;
}
.landing .landing-text{
	text-align: center;
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50% , -50%);
	max-width: 320px;
	width: 100%;
	
	
	
}

.landing .landing-text h3{
	font-size: 50px;
	font-weight: 50px;
	color:var(--main-color);
	margin-bottom:20px;
	
}

.landing .landing-text p{
	line-height: 1.8;
	font-size: 17px;
	
}
/*End Landing*/




/*Start Features*/
.features{
	background-color: var(--section-background);
	padding-top:var(--section-padding);
	padding-bottom:var(--section-padding);
	
}
.features .features-content{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap:20px;
}


.features .features-content i{
	color:var(--main-color);
	
	
}

.features .features-content .feat{
	text-align:center;
	
	
}
.features .features-content .features-text{
	
	
	
}
.features .features-content h3{
	font-weight: 800;
	margin: 30px 0;
	
	
}

.features .features-content p{
	line-height: 1.8;
	font-size:19px;
	color:var(--section-color);
	
}
/* End Features*/

/* Start Services*/
.services{
	padding-top:var(--section-padding);
	padding-bottom:var(--section-padding);
	
}

.services .services-content{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap:30px;
	margin-top:100px;
}
@media (max-width:767px){
	.services .services-content .serv{
		flex-direction: column;
		text-align: center;
		
	}
}
.services .services-content .serv{
	display: flex;
}

.services .services-content .serv i{
	color:var(--main-color);
	flex-basis: 60px;
}

.services .services-content .serv .services-text{
	margin-bottom:30px;
	flex:1
	
	
} 

.services .services-content .serv .services-text h3{
	font-weight: bold;
	margin:0 0 30px;
	
} 


.services .services-content .serv .services-text p{
	font-weight: 300;
	line-height: 1.8;
	color:var(--section-color);
	
} 

.services .services-content .image{
	position: relative;
	text-align: center;
	
} 

.services .services-content .image img{
	width: 260px;
	
} 

.services .services-content .image::before{
	content: "";
	position: absolute;
	background-color: var(--secondly-color);
	width:100px;
	height:calc(100% + 100px);
	right:0;
	top:-50px;
	z-index: -1;
	
} 
/* End Services*/

/* start Portfolio*/
.portfolio{
	background-color: var(--section-background);
	padding-top:var(--section-padding);
	padding-bottom:var(--section-padding);
}
.portfolio .portfolio-container{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap:30px;
	margin-top:100px;
}
.portfolio .portfolio-container .card{
	background-color: white;
}

.portfolio .portfolio-container .portfolio-text{
	padding: 20px;

}

.portfolio .portfolio-container h3{
	margin:0;

}

.portfolio .portfolio-container p{
	line-height: 1.8;
	color: var(--section-color);
	margin-bottom: 0;

}
.portfolio .portfolio-container img{
	max-width:100%;
}
/* End Portfolio*/


/* Start About*/

.about{
	padding-top:var(--section-padding);
	padding-bottom:var(--section-padding);
}
.about .about-container{
	display: flex;
	justify-content: space-between;
	margin-top:100px;

	
}

@media (max-width:991px){
	.about .about-container{
		flex-direction: column;
		text-align: center;
	}
}
.about .about-container .about-text{
/*	flex-basis: calc(100% - 500px);*/
	flex:1;
	padding-left:200px;
	
}

.about .about-container .about-text p:first-of-type{
	line-height: 2;
	font-weight: bold;

	
} 

.about .about-container .about-text hr{
	border:1px solid var(--main-color);
	width: 50%;
	display: inline-block;

	
}

.about .about-container .about-text p:last-of-type{
	line-height: 2;
	color:var(--section-color);

	
} 
.about .about-container{
	margin-top:100px;
	
}

.about .about-container .image img{
	max-width: 100%;
	
	
}
.about .about-container .image {
	position: relative;
	width: 250px;
	height: 375px;
}

@media (max-width: 991px){
	.about .about-container .image {
		margin:0 auto 60px;
	}
	
}
.about .about-container .image::before {
	content: "";
	background-color: var(--section-background);
	position: absolute;
	width: 100px;
	height:calc(100% + 80px);
	top:-40px;
	left:-20px;
	z-index: -1;
	
	
	
}

.about .about-container .image::after {
	content: "";
	border-left: 80px solid var(--main-color);
	border-bottom: 80px solid var(--main-color);
	position: absolute;
	height: 300px;
	width: 120px;
	right:-135px;
	top:-40px;
	z-index: -1;
	
	
}
@media (max-width:767px){
	.about .about-container .about-text 
{
		text-align: center;
	}
}
@media (max-width:991px){
	.about .about-container .image::before,
	.about .about-container .image::after{
		display: none;
	}
}


/* End About*/

/* Start Contact*/
.contact{
	background-color: var(--section-background);
	padding-top:var(--section-padding);
	padding-bottom:var(--section-padding);
	
}

.contact .contact-container{
	margin-top:100px;
}

.contact .contact-container .contact-text{
	text-align: center;
	margin:30px 0;
}

.contact .contact-container .contact-text h3{
	color:var(--secondly-color);
	font-size:35px;
	margin-bottom:15px;
}



.contact .contact-container .contact-text .link{
	display: block;
	text-decoration: none;
	font-size:35px;
	color:var(--main-color);
	font-weight: bold;
}

.contact .contact-container .contact-text .social{
	display: inline-flex;
	align-items: center;
	gap:10px;
	margin-top: 10px;
}

.contact .contact-container .contact-text .social i{
	
	color:var(--secondly-color);
}

/* End Contact*/

@media (max-width: 767px){
	.contact .contact-container .contact-text h3{
		font-size:20px;
		
	}
}

@media (max-width: 767px){
	.contact .contact-container .contact-text .link{
		font-size:20px;
		
	}
}

/* Start footer */
.footer{
	background-color:var(--secondly-color);
	padding:30px 10px;
	font-size:20px;
	color:white;
	text-align:center;
}


.footer span{
	color:var(--main-color);
	font-weight: bold;
	
}

/* End footer*/


















